@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Overall */

*{
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
    margin: 0;
}

.sidemargins {
    margin-left: 4rem;
    margin-right: 4rem;
}

h1{
    display: block;
    text-align: center;
    font-size: xx-large
}

#work h2 {
    text-align: center;
    margin-bottom: 0px;
}

.center {
    text-align: center;
    list-style-position: inside;
  }

ol {
    padding: 0; 
    margin: 0;
}

/* Mobile Nav NEED TO ADD HAMBURGER MENU */

nav {
    background-color: #faa734;
    padding: 20px 15px;
    margin: 0;
    text-align: right;
}

nav p {
    float: left;
    margin: 0;
    font-weight: 700;
    font-size: x-large;
}

/* Layout */

#intro{
    background-color: #faa734;
    padding: 40px;
    justify-content: center;
}

#intro p { 
    max-width: 400px; 
    margin: auto;
}

#IDprojects, #WEBprojects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 300px);
    grid-auto-flow: row;
    grid-auto-rows: 300px;
    margin: 0 4rem 2rem 4rem;
    justify-content: center;
}

#IDprojects a, #WEBprojects a {
    text-decoration: none;
    color: black;
}

.project_div {
    text-align: center;
    margin: auto;
}

.overlay_text {
    display: none;
}

.project_div p {
    margin: 5px;
}

#bio, #contactme, #experience{
    margin-top: 50px;
    margin-bottom: 50px;
}

#work {
    margin-top: 75px;
}

#personality{
    background-color: #fcddb1;
    padding: 30px 4rem;
}

#resume{
  background-color: #faa734;  
  padding: 3rem;
}

#email, #linkedin {
    display: inline-block;
    width: 200px;
    margin: 0px 20px;
}

/* Images */

#contactimgs {
    text-align: center;
}

#intro img {
    max-width: 275px;
    min-width: none;
    margin: 40px auto;
    display: block;
}

.project_div img {
    max-width: 225px;
}

/* Media Quaries */

@media screen and (min-width: 1025px) { 

    #intro {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 10vw;
        padding-left: 10vw;
    }

    #IDprojects {
        grid-template-columns: repeat(3, 285px);
        grid-template-rows: repeat(3, 285px);  
    }

    #WEBprojects {
        grid-template-columns: repeat(3, 285px);
    }

 /*Hover State w/Overlay */
    .project_div p {
        display: none;
    } 

    .image_hover {
        position: relative;
      }
      
      .overlay {
        background-color: #faa734;
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        opacity: 0;
        height: 225px;
        transition: opacity 0.3s ease;
      }
      
      .image_hover:hover .overlay {
        opacity: .5;
      }
      
      .overlay_text {
        display: block;
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
}

@media screen and (min-width: 880px) {

    #intro {
        padding: 100px;
        display: grid;
        grid-template-columns: 400px 300px;
        grid-column-gap: 75px;
    }
    
}

@media screen and (min-width:728px) and (max-width: 1024px) {
    
    #WEBprojects {
        grid-template-columns: repeat(2, 300px);
    }

}

@media screen and (min-width: 700px) {

    /* Nav Bar */

    nav p {
        float: left;
        margin: 0;
        font-weight: 700;
        font-size: x-large;
    }

    nav a:link {
        color: black;
        font-weight: 550;
        background-color: transparent;
        text-decoration: none;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    nav a:visited {
        color: black;
        background-color: #fcddb1;
    }

    nav a:hover {
        background-color: #fcddb1;
        padding: 20px 15px;
    }
    
    nav a:active {
        background-color: #fcddb1;
    }
    
}